// 根据项目UI规范全局设置样式，如主色调、辅色调、字体大小等


// 通用方法
font-height(num)
  height unit(num, px)
  line-height unit(num, px)

omitted(line)
  overflow hidden
  display -webkit-box
  -webkit-line-clamp line
  -webkit-box-orient vertical

m-tb(num)
  margin-top unit(num, px)
  margin-bottom unit(num, px)

m-lr(num)
  margin-left unit(num, px)
  margin-right unit(num, px)

p-tb(num)
  padding-top unit(num, px)
  padding-bottom unit(num, px)

p-lr(num)
  padding-left unit(num, px)
  padding-right unit(num, px)