.slide-up-enter-active {
  transition: all .3s cubic-bezier(.17,.63,.43,.98);
}
.slide-up-leave-active {
  transition: all .25s linear;
}
.slide-down-enter-active {
  transition: all .3s cubic-bezier(.78,.04,.74,.39);
}
.slide-down-leave-active {
  transition: all .3s cubic-bezier(.17,.63,.43,.98);
}
.slide-left-enter-active {
  transition: all .3s cubic-bezier(.17,.63,.43,.98);
}
.slide-left-leave-active {
  transition: all .25s cubic-bezier(.7,.11,.42,.89);
}
.slide-right-enter-active {
  transition: all .3s cubic-bezier(.17,.63,.43,.98);
}
.slide-right-leave-active {
  transition: all .25s cubic-bezier(.7,.11,.42,.89);
}
.fade-enter-active {
  transition: all .3s cubic-bezier(.7,.11,.42,.89);
}

.slide-up-enter-to, .slide-down-leave-to, .slide-left-enter-to, .slide-right-leave-to {
  width: 100vw !important;
  position: absolute;
  top: 0;
  z-index 1
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(50vh);
}
.slide-down-enter {
  opacity: .5;
}
.slide-left-enter {
  transform: translateX(100vh);
}
.slide-right-enter {
  transform: translateX(-100vh);
}
.fade-enter {
  opacity: 0;
}

.slide-up-leave-to {
  opacity: 0;
}
.slide-down-leave-to {
  opacity 0
  transform: translateY(100vh);
}
.slide-left-leave-to {
  opacity: 0;
}
.slide-right-leave-to {
  opacity: .5;
}